{% include 'extension/sidebar.html.twig' %}
<!-- Header -->
<div class="header bg-default pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">LOGISTIQUE</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Nouveau materiel</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Enregistrement d'un materiel</h3>
                        </div>
                        <div class="col text-right">
                            <a href="{{path('all_mouvement')}}" class="btn btn-sm btn-primary">Vous tous</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <h6 class="heading-small text-muted mb-4">Remplir le formulaire</h6>
                        {{form_start(formInvente)}}
                        <div class="pl-lg-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form_row(formInvente.idMateriel, {'attr':{'class': 'form-control', 'placeholder': 'nom du materiel'}})}}
                                    </div>
                                       <div class="form-group">
                                       {{form_row(formInvente.quantite, {'attr':{'class': 'form-control', 'placeholder': 'entrée'}})}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                       {{form_row(formInvente.motif, {'attr':{'class': 'form-control', 'placeholder': 'motif'}})}}
                                    </div>
                                     <div class="form-group">
                                         <button class="btn btn-outline-primary btn-block">sauver</button>
                                     </div>
                                </div>
                            </div>
                        </div>
                       {{form_end(formInvente)}}
                    </form>
                   <div class="row">
                       <div class="col-md-3">
                       </div>
                       <div class="col-md-6">
                            <h2 class="text-center">Mouvement du stock</h2>
                            <select class="form-control" >
                                    <option value="1" data-toggle="collapse" href="#collapseEntree" role="button" aria-expanded="false" aria-controls="collapseEntree">Stock réel</option>
                                    <option value="2" data-toggle="collapse" href="#collapseSortie" role="button" aria-expanded="false" aria-controls="collapseSortie">Stock réel d'un mois</option>
                            </select>
                        </div>
                    </div>
                    <div class="collapse" id="collapseEntree">
                      <table class="table align-items-center table-dark table-flush" id="example2">
                        <h3 class="text-center">TOTAL STOCK REEL </h3>
                        <thead  class="thead-dark">
                         
                            <th>nom du materiel</th>
                            <th>total entrées</th>
                            <th>total sortie</th>
                            <th>total stock</th>
                         
                         </thead>
                         {% for materiel in stock %}
                           <tr>
                            <td>{{materiel[1]}}</td>
                            <td>{{materiel[0]}}</td>
                            <td>{{materiel[2]}}</td>
                            <td>{{materiel[3]}}</td>
                           </tr>
                         {% endfor %}
                     </table>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
    {% include "extension/footer.html.twig" %}
</div>