<div class="row">
<div class="col-md-6">
       {{ form_start(form) }}
        {{ form_row (form.idCours, {attr:{'class':'form-control'}}) }}
        {{ form_row (form.classe, {attr:{'class':'form-control'}}) }}
        {{ form_row (form.prof, {attr:{'class':'form-control'}}) }}
       
</div>

        <div class="col-md-6">
        
                {{ form_row (form.chapitre, {attr:{'class':'form-control'}}) }}
                {{ form_row (form.contenue, {attr:{'class':'form-control'}}) }}
                {{ form_row (form.fileCours, {attr:{'class':'form-control'}}) }}<br>
        </div>
        <button class="btn  btn-outline-primary btn-block">{{ button_label|default('Save content') }}</button>
        {{ form_end(form) }}

</div>