<div class="row">
  <div class="col-md-3">
  </div>
    <div class="col-md-6">
        {{ form_start(form) }}
                {# {{ form_row (form.id, {attr:{'class':'form-control'}}) }} #}
                {{ form_row (form.designation, {attr:{'class':'form-control'}}) }}
                {{ form_row (form.montant, {attr:{'class':'form-control'}}) }}
               <br>
            <button class="btn  btn-outline-primary btn-block">{{ button_label|default('Save content') }}</button>
        {{ form_end(form) }}
        
    </div>
   <div class="col-md-3">
  </div>
</div>