{% include "extension/sidebar.html.twig" %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1><center> Contenu du cours </center></h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title"> </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        <!--<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
                    </div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-borderless table-striped table-hover">
                        <thead class="bg-warning">
                            <tr>
                                <th>Id</th>
                                <th>Designation</th>
                                <th>Promotion</th>
                                <th>Professeur</th>
                                <th>Is_active</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cour in cours  %}
                                <tr>
                                    <td>{{ cour.id }}</td>
                                    <td>{{ cour.designation }}</td>
                                    <td>{{ cour.promotion.designation }}</td>
                                    <td>{{ cour.professeur.nomComplet }}</td>
                                    <td>{{ cour.isActive ? 'Yes' : 'No' }}</td>
                                    <td> 
                                        <a href="{{ path('cours_content_new', {'id': cour.id}) }}" class="btn btn-outline-info">add content</a> 
                                        <a href="{{ path('cours_content_show', {'id': cour.id}) }}" class="btn btn-outline-info">show content</a>
                                        <a href="{{ path('cours_edit', {'id': cour.id}) }}" class="btn btn-outline-warning">edit</a>     
                                    </td>
                                </tr>
                        
                            {% endfor %}
                            </tbody>
                    </table>
                    
                </div>
                <!-- /.card-body -->
            </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>


{% include "/extension/footer.html.twig" %}

